<div class="row">
  <div class="well well-sm">
      <h4>WEATHER IN LAST 24H AT TAMPERE</h4>
  </div>
  <ng-container *ngIf="weathers || errorMessage">
    <ng-container *ngIf="weathers">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Time</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Light</th>
            <th>Rain</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of weathers">
                <td>{{record.date_time}}</td>
                <td>{{record.temperature}}&#8451;</td>
                <td>{{record.humidity}}%</td>
                <td>{{record.light}}</td>
                <td>{{record.rain}}</td>
            </tr>
        </tbody>
      </table>
    </ng-container>
  </ng-container>
</div>