<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date time</th>
        <th>Temperature</th>
        <th>Humidity</th>
        <th>Wind speed</th>
        <th>Wind direction</th>
        <th>Pressure</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>John</td>
        <td>Doe</td>
        <td>John</td>
      </tr>
      <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td>John</td>
          <td>Doe</td>
          <td>John</td>
      </tr>
      <tr>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td>John</td>
          <td>Doe</td>
          <td>John</td>
      </tr>
    </tbody>
  </table>
</div>