<div class="row">
  <div class="well well-sm">
    <h4>WEATHER IN LAST 7 DAYS AT TAMPERE</h4>
  </div>
  <ng-container *ngIf="weathers || errorMessage; else elseBlockForInfo">
    <ng-container *ngIf="weathers">
      <div id="calendar" class="row list-group">
          <div class="item  col-xs-3 col-lg-3" *ngFor="let record of weathers">
              <div class="thumbnail">
                  <div class="caption">
                      <h4 class="group inner list-group-item-heading">{{record.day}}</h4>
                      <h5 class="subtitle">
                          {{record.month}}
                      </h5>
                      <ul class="list-group">
                        <li class="list-group-item">Temperature: {{record.temperature}}&#8451;</li>
                        <li class="list-group-item">Humidity: {{record.humidity}}%</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
    </ng-container>
    <ng-template #elseBlockForInfo>
      <div class="alert alert-success">Loading weather info...</div>
    </ng-template>
  </ng-container>
</div>
