<div id="map" class="row">
  <app-map></app-map>
</div>

<ng-container *ngIf="weather || errorMessage; else elseBlockForInfo">
  <ng-container *ngIf="weather">
    <div class="row">
        <ul class="weather list-group">
          <li class="list-group-item"><h3>Temperature: {{weather.temperature}}&#8451;</h3></li>
          <li class="list-group-item"><h4>Humidity: {{weather.humidity}}%</h4></li>
          <li class="list-group-item"><h4>Pressure: {{weather.pressure}} hPa</h4></li>
        </ul>
    </div>
  </ng-container>
  <ng-template #elseBlockForInfo>
    <div class="alert alert-success">Loading weather info...</div>
  </ng-template>
</ng-container>
